.sessions-form {
  margin-left: 25%;
  margin-right: 25%;
}

.sessions-link {
  margin-top: 10px;
}

.dashboard-toggle {
  text-align: center;
  font-size: 1.6em;
}

.root-product-container {
  border: 1px solid silver;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 10px;
}

.show-product-container {
  margin-left: 25%;
  margin-right: 25%;
  border: 1px solid silver;
  border-radius: 30px;
  overflow: hidden;
}

.orders-header {
  margin-left: 10%;
  margin-right: 10%;
}

.order-container {
  margin-top: 18px;
  margin-bottom: 18px;
  margin-left: 10%;
  margin-right: 10%;
  border: 1px solid silver;
  overflow: hidden;
}

.root-product-image, .show-product-image {
  width: 100%;
}

.order-image-container {
  margin-left: -18px;
  margin-right: -18px;
}

.root-product-information-container, .show-product-information-container {
  margin: 10px;
}

.root-product-name, .show-product-name {
  font-weight: bold;
  font-size: 1.2em;
  margin-top: 0;
  margin-bottom: 0;
}

.order-product-name {
  font-weight: bold;
  font-size: 1.2em;
}

.root-product-seller, .show-product-seller {
  font-size: 1em;
  color: grey;
}

.show-product-order-container {
  margin: 10px;
}

.root-product-discounted-price, .show-product-discounted-price {
  font-weight: bold;
  font-size: 1.2em;
  color: #5cb85c;
}

.root-product-original-price, .show-product-original-price {
  font-size: 1em;
  color: grey;
  text-decoration: line-through;
}

.product-edit {
  float: right;
}

.btn-full {
  width:100%;
}

.btn-cancel {
  margin-top: 4px;
  margin-bottom: 4px;
}

.order-btn, .stripe-button-el {
  margin-top: 10px;
  width:100%;
}

.product-form {
  margin-left: 18px;
  margin-right: 18px;
}

@media only screen and (max-width: 980px) {
  .sessions-form {
    margin-left: 0%;
    margin-right: 0%;
  }

  .show-product-container {
    margin-left: 0%;
    margin-right: 0%;
  }

  .orders-header {
    margin-left: 0%;
    margin-right: 0%;
  }

  .order-container {
    margin-left: 0%;
    margin-right: 0%;
  }
}
